@model MdpProject.Models.MdpChatSupport

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MdpChatSupport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MdpDonHangId" class="control-label"></label>
                <select asp-for="MdpDonHangId" class ="form-control" asp-items="ViewBag.MdpDonHangId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MdpSenderId" class="control-label"></label>
                <select asp-for="MdpSenderId" class ="form-control" asp-items="ViewBag.MdpSenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MdpTinNhan" class="control-label"></label>
                <input asp-for="MdpTinNhan" class="form-control" />
                <span asp-validation-for="MdpTinNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MdpFileDinhKem" class="control-label"></label>
                <input asp-for="MdpFileDinhKem" class="form-control" />
                <span asp-validation-for="MdpFileDinhKem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
